li.ibullet:before {
	content: '';
	display: inline-block;
	height: 30px;
	margin-left:-40px;
	margin-bottom:-20px;
	width: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

table {
}

td {
	vertical-align: top;
	padding-left:7px;
}

td:nth-child(1) {
	font-weight: bolder;
	text-align: right;
	padding-right:7px;
}

li.uofu:before {
	background-image: url('../theu.png');
}

li.ucam:before {
	background-image: url('../ucam.png');
}

.aside {
    color: #aaa;
    font-size: smaller;
}


.matt {
    background-color: rgba(255,255,255, 0.8);
    /*background: linear-gradient(to bottom right, rgba(245,239,255, 0.8), rgba(255,255,255, 1.0) rgba(255,255,255,0.4));,*/
    padding:10px;
    margin-bottom:20px;
}

.matt p, .matt li {
    font-family: 'Cutive Mono';
	background-color: white;
}

.matt > p, .matt >*> li  {
    margin-bottom: 15px;
}

/* #everything p, #everything li {
	font-family: 'Cutive Mono';
	background-color: white;
} */
