<div class="accordion-panel">
    <button class="toggle-button dim70">
        <span class="text-folded">
            <i class="fa-solid fa-circle-chevron-right"></i>
            {{ include.text_folded }} 
        </span>
        <span class="text-unfolded">
            <i class="fa-solid fa-circle-chevron-down"></i>
            {{ include.text_unfolded }}
        </span>
    </button>
    <div class="extra-content">
        {{ include.content | markdownify }}

        <button class="toggle-button dim70">
            <span class="text-unfolded">
                <i class="fa-solid fa-circle-chevron-up"></i>
            </span>
        </button>
    </div>
</div>