<!-- <a class="mono" href="mailto:oli@cs.cornell.edu">oli<span style="margin-left:5px;margin-right:5px;font-family:sans-serif;">@</span>cs.cornell.edu</a> -->
{%capture atsign%}<span style="margin-left:5px;margin-right:5px;font-family:'Courier New';">@</span>{% endcapture %}
<h4>Contact me by email:</h4>
<a class="mono" href="mailto:oliver.richardson@umontreal.ca">oliver.richardson{{atsign}}umontreal.ca</a>
<br>
&nbsp;&nbsp;<a class="mono" href="mailto:oliver.richardson@mila.quebec">oliver.richardson{{atsign}}mila.quebec</a>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a class="mono" href="mailto:oliver.richardson@mila.quebec">o.richardson{{atsign}}lawzero.org</a>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="mono" href="mailto:oli@cs.cornell.edu">oli{{atsign}}cs.cornell.edu</a>