<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include custom-head.html -%}

<body>

    {% comment %}
    <div class="jumbotron container">
        <h1 class="title"><span class="wrap">{{page.display}}</span></h1>
        <h3 class="subtitle">
            {% if page.subtitle_file %}
                <!-- {{ page.subtitle_file }} -->
                {% include {{ page.subtitle_file }} %}
            {% elsif page.subtitle %}
                {{ page.subtitle | markdownify | remove: '<p>' | remove: '</p>' }}
            {% endif %}
        </h3>
    </div>

    {%- include nav-banner.html -%}
    {% endcomment %}

    {% assign ptab = site.main_pages | where: "short", "pieces" | first %}


    <div id="" class="clearfix sticky-anchor">
        <nav id="navigation" class="navbar navbar-default" style="background-color: {{ptab.colors.menu}}; ">
            <!-- background-image:linear-gradient(90deg,  {{ptab.colors.menu}}, transparent); -->
            <div class="container">
                <ul id="nav-icon-list" class="nav navbar-nav">

                    <li class="nav-item" >
                        <a href="{{site.baseurl | append: '/' | append: 'pieces'}}" style="color:{{ptab.colors.fg}};">
                            <i class="fa-solid fa-angles-up"></i>
                            &nbsp;oli.reflect.pieces&nbsp;
                            <i class="fa-solid fa-{{ptab.glyph}}"></i>
                        </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right"  style="margin-left:0px !important;">
                     {% assign tabs =  site.main_pages | where: 'hide', nil  | sort: "order" %}
                    {% for tab in tabs %}
                        <li class="nav-item navtab-{{ tab.short }}" data-name="{{tab.short}}">
                            <a href="{{site.baseurl | append: '/' | append: tab.short}}">
                            <i class="fa-solid fa-{{ tab.glyph }}"></i>
                            <!-- <span class="text-capitalize"> {{ tab.short }} </span> -->
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
            
        </nav>
    </div>


    <main class="page-content" style="flex:1">
        <div id="wrapper" class="container">
            <h1 class="text-center"> {{ page.title }} </h1>
            
            <div id="everything" class="{{ page.content_class }}">
                {{ content }}
            </div>
        </div>
    </main>
</body>
</html>