<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% comment %} {%- include head.html -%} {% endcomment %}
{%- include custom-head.html -%}

<!-- BELOW: note the explicit styling based on server data. -->
<!-- <body style='background-color: <%- params.tabs[page].colors.bg %>; color:<%- params.tabs[page].colors.fg %>' > -->
<body>

<!-- <body style='background-color: {{page.colors.bg}}; color:{{page.colors.fg}}'> -->
	<div class="parallax">
		<div class="plx-layer plx-base">

			<!-- <div class="jumbotron container-fluid"> -->
			<div class="jumbotron container">
				<h1 class="title"><span class="wrap">{{page.display}}</span></h1>
				<h3 class="subtitle">
				{% if page.subtitle_file %}
					<!-- {{ page.subtitle_file }} -->
					{% include {{ page.subtitle_file }} %}
				{% elsif page.subtitle %}
					{{ page.subtitle | markdownify | remove: '<p>' | remove: '</p>' }}
				{% endif %}
				</h3>
			</div>

			{% include nav-banner.html %}

			<main class="page-content" style="flex:1">
				<div id="wrapper" class="container">
					<div id="everything" class="{{ page.content_class }}">
						{{ content }}
					</div>
				</div>
			</main>

			{% comment %}
			<div style="margin-bottom:20px" class="text-center">
				<ul class="nav navbar-nav">
					{{ navbuttons }}
				</ul>
			</div>
			{% endcomment %}
		</div>
		<!---->
		<div  class="plx-layer plx-deep">
			<div id="tree-button-panel">
				<!-- btn btn-secondary -->
				<button id="tree-ffwd" type="button" class="">
					<i class="fas fa-fast-forward"></i> </button>
				<button id="tree-remove" type="button" class="">
					<i class="fa-solid fa-ban"></i> </button>
				<br/>
				<button id="tree-pause" type="button" class=""> 
					<i class="fa-solid fa-pause"></i> </button>
			</div>
			<div id="background-wrapper"style="margin:0px!important;" >
				<canvas id="background" resize="true"></canvas>
			</div>
		</div>
	</div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.18/paper-full.min.js"></script>
	<script type="text/javascript" src="{{site.baseurl}}/js/gen/vines-wind.js"></script>
	</body>
</html>